# Ignore all notebooks
*.ipynb

# But keep specific notebooks
!notebooks/pprl_region.ipynb
# !notebooks/final_model.ipynb

# Ignore all CSV files everywhere
*.csv

# Ignore Python cache and logs
__pycache__/
*.log
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.env/
venv/
